Letâ€™s start the task of Covid-19 impacts analysis by importing the necessary Python libraries and the dataset:

In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

data = pd.read_csv("transformed_data.csv")
data2 = pd.read_csv("raw_data.csv")
print(data)

      CODE      COUNTRY        DATE    HDI        TC        TD       STI  \
0      AFG  Afghanistan  2019-12-31  0.498  0.000000  0.000000  0.000000
1      AFG  Afghanistan  2020-01-01  0.498  0.000000  0.000000  0.000000
2      AFG  Afghanistan  2020-01-02  0.498  0.000000  0.000000  0.000000
3      AFG  Afghanistan  2020-01-03  0.498  0.000000  0.000000  0.000000
4      AFG  Afghanistan  2020-01-04  0.498  0.000000  0.000000  0.000000
...    ...          ...         ...    ...       ...       ...       ...
50413  ZWE     Zimbabwe  2020-10-15  0.535  8.994048  5.442418  4.341855
50414  ZWE     Zimbabwe  2020-10-16  0.535  8.996528  5.442418  4.341855
50415  ZWE     Zimbabwe  2020-10-17  0.535  8.999496  5.442418  4.341855
50416  ZWE     Zimbabwe  2020-10-18  0.535  9.000853  5.442418  4.341855
50417  ZWE     Zimbabwe  2020-10-19  0.535  9.005405  5.442418  4.341855

             POP    GDPCAP
0      17.477233  7.497754
1      17.477233  7.497754
2      17.477233  7.497754
3      17.477233  7.497754
4      17.477233  7.497754
...          ...       ...
50413  16.514381  7.549491
50414  16.514381  7.549491
50415  16.514381  7.549491
50416  16.514381  7.549491
50417  16.514381  7.549491

[50418 rows x 9 columns]

In [3]:
print(data2)

      iso_code     location        date  total_cases  total_deaths  \
0          AFG  Afghanistan  2019-12-31          0.0           0.0
1          AFG  Afghanistan  2020-01-01          0.0           0.0
2          AFG  Afghanistan  2020-01-02          0.0           0.0
3          AFG  Afghanistan  2020-01-03          0.0           0.0
4          AFG  Afghanistan  2020-01-04          0.0           0.0
...        ...          ...         ...          ...           ...
50413      ZWE     Zimbabwe  2020-10-15       8055.0         231.0
50414      ZWE     Zimbabwe  2020-10-16       8075.0         231.0
50415      ZWE     Zimbabwe  2020-10-17       8099.0         231.0
50416      ZWE     Zimbabwe  2020-10-18       8110.0         231.0
50417      ZWE     Zimbabwe  2020-10-19       8147.0         231.0

       stringency_index  population  gdp_per_capita  human_development_index  \
0                  0.00    38928341        1803.987                    0.498
1                  0.00    38928341        1803.987                    0.498
2                  0.00    38928341        1803.987                    0.498
3                  0.00    38928341        1803.987                    0.498
4                  0.00    38928341        1803.987                    0.498
...                 ...         ...             ...                      ...
50413             76.85    14862927        1899.775                    0.535
50414             76.85    14862927        1899.775                    0.535
50415             76.85    14862927        1899.775                    0.535
50416             76.85    14862927        1899.775                    0.535
50417             76.85    14862927        1899.775                    0.535

        Unnamed: 9  Unnamed: 10 Unnamed: 11  Unnamed: 12  Unnamed: 13
0            #NUM!        #NUM!       #NUM!    17.477233  7.497754494
1            #NUM!        #NUM!       #NUM!    17.477233  7.497754494
2            #NUM!        #NUM!       #NUM!    17.477233  7.497754494
3            #NUM!        #NUM!       #NUM!    17.477233  7.497754494
4            #NUM!        #NUM!       #NUM!    17.477233  7.497754494
...            ...          ...         ...          ...          ...
50413  8.994048296  5.442417711  4.34185547    16.514381  7.549490737
50414  8.996528148  5.442417711  4.34185547    16.514381  7.549490737
50415  8.999495876  5.442417711  4.34185547    16.514381  7.549490737
50416  9.000853147  5.442417711  4.34185547    16.514381  7.549490737
50417   9.00540504  5.442417711  4.34185547    16.514381  7.549490737

[50418 rows x 14 columns]

In [4]:
print(data.head())

  CODE      COUNTRY        DATE    HDI   TC   TD  STI        POP    GDPCAP
0  AFG  Afghanistan  2019-12-31  0.498  0.0  0.0  0.0  17.477233  7.497754
1  AFG  Afghanistan  2020-01-01  0.498  0.0  0.0  0.0  17.477233  7.497754
2  AFG  Afghanistan  2020-01-02  0.498  0.0  0.0  0.0  17.477233  7.497754
3  AFG  Afghanistan  2020-01-03  0.498  0.0  0.0  0.0  17.477233  7.497754
4  AFG  Afghanistan  2020-01-04  0.498  0.0  0.0  0.0  17.477233  7.497754

In [5]:
print(data2.head())

  iso_code     location        date  total_cases  total_deaths  \
0      AFG  Afghanistan  2019-12-31          0.0           0.0
1      AFG  Afghanistan  2020-01-01          0.0           0.0
2      AFG  Afghanistan  2020-01-02          0.0           0.0
3      AFG  Afghanistan  2020-01-03          0.0           0.0
4      AFG  Afghanistan  2020-01-04          0.0           0.0

   stringency_index  population  gdp_per_capita  human_development_index  \
0               0.0    38928341        1803.987                    0.498
1               0.0    38928341        1803.987                    0.498
2               0.0    38928341        1803.987                    0.498
3               0.0    38928341        1803.987                    0.498
4               0.0    38928341        1803.987                    0.498

  Unnamed: 9 Unnamed: 10 Unnamed: 11  Unnamed: 12  Unnamed: 13
0      #NUM!       #NUM!       #NUM!    17.477233  7.497754494
1      #NUM!       #NUM!       #NUM!    17.477233  7.497754494
2      #NUM!       #NUM!       #NUM!    17.477233  7.497754494
3      #NUM!       #NUM!       #NUM!    17.477233  7.497754494
4      #NUM!       #NUM!       #NUM!    17.477233  7.497754494

In [41]:
data['COUNTRY'].value_counts().mode()

0    294
dtype: int64

In [14]:
data2['location'].value_counts().mode()

0    294
dtype: int64

In [24]:
# Aggregating the data

code = data["CODE"].unique().tolist()
country = data["COUNTRY"].unique().tolist()
hdi = []
tc = []
td = []
sti = []
population = data["POP"].unique().tolist()
gdp = []

In [23]:
len(data)

50418

In [25]:
for i in country:
    hdi.append((data.loc[data["COUNTRY"] == i, "HDI"]).sum()/294)
    tc.append((data2.loc[data2["location"] == i, "total_cases"]).sum())
    td.append((data2.loc[data2["location"] == i, "total_deaths"]).sum())
    sti.append((data.loc[data["COUNTRY"] == i, "STI"]).sum()/294)
    population.append((data2.loc[data2["location"] == i, "population"]).sum()/294)

In [39]:
(data.loc[data["COUNTRY"] == 'Afghanistan', "HDI"])

0      0.498
1      0.498
2      0.498
3      0.498
4      0.498
       ...
289    0.498
290    0.498
291    0.498
292    0.498
293    0.498
Name: HDI, Length: 294, dtype: float64

In [52]:
(data2.loc[data2["location"] == 'Afghanistan', "total_cases"]).sum()

5126433.0

In [53]:
(data.loc[data["COUNTRY"] == 'Afghanistan', "TC"]).sum()

2000.646093621

In [59]:
data["TC"].value_counts()

0.000000     4235
1.098612      512
2.564949      441
2.397895      412
2.890372      392
             ...
10.028003       1
10.045855       1
10.104385       1
10.123907       1
9.005405        1
Name: TC, Length: 19171, dtype: int64

In [63]:
data2["total_cases"].value_counts()

1.0        641
3.0        512
0.0        500
13.0       441
11.0       412
          ...
22652.0      1
23060.0      1
24450.0      1
24932.0      1
8147.0       1
Name: total_cases, Length: 19172, dtype: int64

In [67]:
agg_data= pd.DataFrame(list(zip(code, country, hdi, tc, td, sti, population)), columns=["Country Code", "Country", "HDI", 
                                          "Total Cases", "Total Deaths", 
                                          "Stringency Index", "Population"] )

In [69]:
agg_data.head()

,Country Code,Country,HDI,Total Cases,Total Deaths,Stringency Index,Population
0,AFG,Afghanistan,0.498000,5126433.0,165875.0,3.049673,17.477233
1,ALB,Albania,0.600765,1071951.0,31056.0,3.005624,14.872537
2,DZA,Algeria,0.754000,4893999.0,206429.0,3.195168,17.596309
3,AND,Andorra,0.659551,223576.0,9850.0,2.677654,11.254996
4,AGO,Angola,0.418952,304005.0,11820.0,2.965560,17.307957

I have not included the GDP per capita column yet. I didnâ€™t find the correct figures for GDP per capita in the dataset. So it will be better to manually collect the data about the GDP per capita of the countries.

As we have so many countries in this data, it will not be easy to manually collect the data about the GDP per capita of all the countries. So letâ€™s select a subsample from this dataset. To create a subsample from this dataset, I will be selecting the top 10 countries with the highest number of covid-19 cases. It will be a perfect sample to study the economic impacts of covid-19. So letâ€™s sort the data according to the total cases of Covid-19:

In [72]:
sorted_data=agg_data.sort_values(by =["Total Cases"], ascending= False)

In [74]:
sorted_data.head(10)

,Country Code,Country,HDI,Total Cases,Total Deaths,Stringency Index,Population
200,USA,United States,0.924000,746014098.0,26477574.0,3.350949,19.617637
27,BRA,Brazil,0.759000,425704517.0,14340567.0,3.136028,19.174732
90,IND,India,0.640000,407771615.0,7247327.0,3.610552,21.045353
157,RUS,Russia,0.816000,132888951.0,2131571.0,3.380088,18.798668
150,PER,Peru,0.599490,74882695.0,3020038.0,3.430126,17.311165
125,MEX,Mexico,0.774000,74347548.0,7295850.0,3.019289,18.674802
178,ESP,Spain,0.887969,73717676.0,5510624.0,3.393922,17.660427
175,ZAF,South Africa,0.608653,63027659.0,1357682.0,3.364333,17.898266
42,COL,Colombia,0.581847,60543682.0,1936134.0,3.357923,17.745037
199,GBR,United Kingdom,0.922000,59475032.0,7249573.0,3.353883,18.033340